/*
Creator: Noah Wieser
Date created: 11/24/2019
Date last modified: 11/27/2019
*/

header, footer {
    height: 100px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    margin: 0px;
    border: 0px;
    font-family: "Georgia", Times, serif;
    background-color: #4F4F4F;
    color: #f2eded;
}
header{
  height:auto;
}
#newLocation{
  color: #f2eded;
  background-color: #4F4F4F;
  text-align: center;
  margin-bottom: 0;
}
nav{
    background-color: #ECDEA6;
}
nav a {
    text-align: center;
    margin: 20px;
    width: 100px;
    float: left;
}
nav .btn {
    background-color: #4F4F4F;
    color: #f2eded;
}
nav a:visited {
  color: #00BFEF;
}
nav a:hover {
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
}

.clear-float {
    clear:both;
}
#myCarousel{
    height: 150px;
    background-color: #ECDEA6;
    text-align: center;
    font-weight: bold;
}
